<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap Material Design -->
    @Styles.Render("~/Content/bootstrap_material_css")
</head>
<body>
    @Html.Partial("_Navbar")
    <div class="col-md-3 mainSideBar hidden-sm hidden-xs">
        &nbsp;
        
        <img class="img-responsive sidebarLogo" src="~/Images/tsa.png" />
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap_material_js")
    <script>
        $.material.init()
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
