
@model TSAHandset.ViewModel.HomeViewModel

@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6" style="text-align:center">
            <a href="/Request/New" class="btn btn-block btn-raised btn-danger">
                <i class="material-icons">description</i><br />
                New Request

            </a>

        </div>
        <div class="col-md-6" style="text-align:center">
            <a href="#" class="btn btn-block btn-raised btn-danger" onclick="showSection('user')">
                <i class="material-icons">feedback</i><br />
                My Request

            </a>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>Overview</h2>
    </div>
    <div class="col-md-12">

        <div class="col-md-4" style="text-align:center">
            <a href="#allRequestsSection" class="btn btn-block btn-raised btn-info" onclick="showSection('all', this)">
                <div class="row tile">
                        <div class="col-xs-4">
                            <div><i class="material-icons">description</i></div>
                        </div>
                        <div class="col-xs-8">
                            <div><h4>@Model.AllRequests.Count</h4> Total Requests</div>
                        </div>
                </div>
            </a>
        </div>

        <div class="col-md-4" style="text-align:center">
            <a href="#pendingRequestsSection" class="btn btn-block btn-raised btn-primary" onclick="showSection('pending')">
                <div class="row tile">
                    <div class="col-xs-4">
                        <div><i class="material-icons">thumbs_up_down</i></div>
                    </div>
                    <div class="col-xs-8">
                        <div><h4>@Model.PendingRequests.Count</h4> Pending Requests</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4" style="text-align:center">
            <a href="#acceptedRequestsSection" class="btn btn-block btn-raised btn-success" onclick="showSection('accepted')">
                <div class="row tile">
                    <div class="col-xs-4">
                        <div><i class="material-icons">thumb_up</i></div>
                    </div>
                    <div class="col-xs-8">
                        <div><h4>@Model.AcceptedRequests.Count</h4> Accepted Requests</div>
                    </div>
                </div>
            </a>
        </div>

        @if (Model.isISGMember)
        {

            <div class="col-md-4" style="text-align:center">
                <a href="#isgTeamRequestsSection" class="btn btn-block btn-raised btn-warning" onclick="showSection('isg', this)">
                    <div class="row tile">
                        <div class="col-xs-4">
                            <div><i class="material-icons">description</i></div>
                        </div>
                        <div class="col-xs-8">
                            <div><h4>@Model.RequestAssignedToiSG.Count()</h4>Requests need<br /> attention</div>
                        </div>
                    </div>
                </a>
            </div>
        }


    </div>
    
</div>
<br/>

<!-- SECTION - all request -->
<div class="row" id="allRequestsSection">
   <div class="col-md-12">
       <div class="row">
           <div class="col-md-12">
               <h2>All Requests</h2>
           </div>
       </div>

       <div class="row">
           <div class="col-md-12">
               <table id="allRequestsTable" class="table table-striped table-hover">
                   <thead>
                   <th>Name</th>
                   <th>Requested Date</th>
                   <th>Aporoved/rejected Date</th>
                   <th>Status</th>
                   <th>Action</th>
                   </thead>
                   <tbody>
                       @foreach (var requst in Model.AllRequests)
                       {
                           <tr>
                               <td>@requst.RequestUserName</td>
                               <td>@requst.RequestDate.ToShortDateString()</td>
                               <td>@if (requst.ApprovedDate.ToString() != "") { @requst.ApprovedDate.Value.ToShortDateString(); }</td>
                               <td>@requst.Progress.ProgressLevelName</td>
                               <td>
                                   
                                       
                                   

                                   <span class="input-group-btn">
                                       <button type="button" id="approveRequest" data-id="@requst.Id" onclick="requestAction(this)" class="btn btn-xs btn-success" data-toggle="modal" data-target="#accept-request-dialog">
                                           <i class="material-icons">thumb_up</i> Approve
                                       </button>

                                       <button type="button" id="rejectRequest" data-id="@requst.Id" onclick="requestAction(this)" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#reject-request-dialog">
                                           <i class="material-icons">thumb_down</i> Reject
                                       </button>
                                   </span>
                               </td>
                           </tr>
                       }


                   </tbody>
               </table>
           </div>
       </div>
   </div>
</div>

<!-- SECTION - pending request -->
<div class="row" id="pendingRequestsSection">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2>Pending Requests</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="pendingRequestsTable" class="table table-striped table-hover">
                    <thead>
                    <th>Name</th>
                    <th>Requested Date</th>
                    <th>Aporoved/rejected Date</th>
                    <th>Status</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach (var requst in Model.AllRequests)
                        {
                            if (requst.ProgressId==1)
                            {
                                <tr>
                                    <td>@requst.RequestUserName</td>
                                    <td>@requst.RequestDate.ToShortDateString()</td>
                                    <td>@if (requst.ApprovedDate.ToString() != ""){ @requst.ApprovedDate.Value.ToShortDateString();}</td>
                                    <td>@requst.Progress.ProgressLevelName</td>
                                    <td>




                                        <span class="input-group-btn">
                                            <button type="button" id="approveRequest" data-id="@requst.Id" onclick="requestAction(this)" class="btn btn-xs btn-success" data-toggle="modal" data-target="#accept-request-dialog">
                                                <i class="material-icons">thumb_up</i> Approve
                                            </button>

                                            <button type="button" id="rejectRequest" data-id="@requst.Id" onclick="requestAction(this)" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#reject-request-dialog">
                                                <i class="material-icons">thumb_down</i> Reject
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- SECTION - accepted request -->
<div class="row" id="acceptedRequestsSection">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2>Accepted Requests</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="acceptedRequestsTable" class="table table-striped table-hover">
                    <thead>
                    <th>Name</th>
                    <th>Requested Date</th>
                    <th>Aporoved/rejected Date</th>
                    <th>Status</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach (var requst in Model.AllRequests)
                        {
                            if (requst.ProgressId == 2)
                            {
                                <tr>
                                    <td>@requst.RequestUserName</td>
                                    <td>@requst.RequestDate.ToShortDateString()</td>
                                    <td>@if (requst.ApprovedDate.ToString() != ""){ @requst.ApprovedDate.Value.ToShortDateString();}</td>
                                    <td>@requst.Progress.ProgressLevelName</td>
                                    <td>




                                        <span class="input-group-btn">
                                            <button type="button" id="approveRequest" data-id="@requst.Id" onclick="requestAction(this)" class="btn btn-xs btn-success" data-toggle="modal" data-target="#accept-request-dialog">
                                                <i class="material-icons">thumb_up</i> Approve
                                            </button>

                                            <button type="button" id="rejectRequest" data-id="@requst.Id" onclick="requestAction(this)" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#reject-request-dialog">
                                                <i class="material-icons">thumb_down</i> Reject
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- SECTION - user request -->
<div class="row" id="userRequestsSection">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2>My Requests</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="userRequestsTable" class="table table-striped table-hover">
                    <thead>
                    <th>Name</th>
                    <th>Requested Date</th>
                    <th>Aporoved/rejected Date</th>
                    <th>Status</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach (var requst in Model.UserRequests)
                        {
                          
                                <tr>
                                    <td>@requst.RequestUserName</td>
                                    <td>@requst.RequestDate.ToShortDateString()</td>
                                    <td>@if (requst.ApprovedDate.ToString() != ""){ @requst.ApprovedDate.Value.ToShortDateString();}</td>
                                    <td>@requst.Progress.ProgressLevelName</td>
                                    <td>




                                        <span class="input-group-btn">
                                            <button type="button" id="approveRequest" data-id="@requst.Id" onclick="requestAction(this)" class="btn btn-xs btn-success" data-toggle="modal" data-target="#accept-request-dialog">
                                                <i class="material-icons">thumb_up</i> Approve
                                            </button>

                                            <button type="button" id="rejectRequest" data-id="@requst.Id" onclick="requestAction(this)" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#reject-request-dialog">
                                                <i class="material-icons">thumb_down</i> Reject
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                            
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- accept action modal-->
<div id="accept-request-dialog" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Approve Request</h4>
            </div>
            <div class="modal-body">
                <p>
                    <div class="col-xs-12">
                        <div class="col-xs-3">
                            <i class="material-icons" style="color:#4caf50; font-size:5em;">live_help</i>

                        </div>
                        <div class="col-xs-9" style="height:5em;">
                            <div style="position:relative;top:50%;transform:translateY(-50%)">Do you want to approve the requet?</div>

                        </div>
                    </div>
                </p>
            
                

            </div>
            <div class="modal-footer">
                <a id="requestAcceptActionLink" href="" class="btn btn-success btn-raised">Yes</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<!-- reject action modal -->
<div id="reject-request-dialog" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Approve Request</h4>
            </div>
            <div class="modal-body">
                <p>
                    <div class="col-xs-12">
                        <div class="col-xs-3">
                            <i class="material-icons" style="color:#f44336; font-size:5em;">live_help</i>

                        </div>
                        <div class="col-xs-9" style="height:5em;">
                            <div style="position:relative;top:50%;transform:translateY(-50%)">Do you want to reject the requet?</div>

                        </div>
                    </div>
                </p>
                    
                    
                



            </div>
            <div class="modal-footer">
                <a id="requestRejectActionLink" href="" class="btn btn-danger btn-raised">Yes</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



@if (Model.isISGMember)
{
    <!-- SECTION -  Requests assigned to the team iSG-->
    <div class="row" id="isgTeamRequestsSection">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>Requests need attention by the team iSG</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table id="isgTeamRequestsTable" class="table table-striped table-hover">
                        <thead>
                        <th>Name</th>
                        <th>Requested Date</th>
                        <th>Aporoved Date</th>
                        <th>Status</th>

                        </thead>
                        <tbody>
                            @foreach (var requst in Model.RequestAssignedToiSG)
                            {

                                <tr>
                                    <td>@requst.RequestUserName</td>
                                    <td>@requst.RequestDate.ToShortDateString()</td>
                                    <td>@if (requst.ApprovedDate != null) { requst.ApprovedDate.Value.ToShortDateString(); }</td>
                                    <td>@requst.Progress.ProgressLevelName</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            //initialising the datatables
            $("#allRequestsTable").DataTable();
            $("#pendingRequestsTable").DataTable();
            $("#acceptedRequestsTable").DataTable();
            $("#isgTeamRequestsTable").DataTable();

            //hiding the sections on initial load
            $("#allRequestsSection").hide();
            $("#pendingRequestsSection").hide();
            $("#acceptedRequestsSection").hide();
            $("#userRequestsSection").hide();
            $("#isgTeamRequestsSection").hide();
        });

        function requestAction(el) {
            $('#requestAcceptActionLink').attr('href', "/Request/AcceptRequest/" + $(el).data("id"));
            $('#requestRejectActionLink').attr('href', "/Request/RejectRequest/" + $(el).data("id"));
        }

        function showSection(section,el) {

            switch (section) {
                case 'all':
                    
                    $("#allRequestsSection").show(200);
                    $("#pendingRequestsSection").hide(200);
                    $("#acceptedRequestsSection").hide(200);
                    $("#userRequestsSection").hide(200);
                    $("#isgTeamRequestsSection").hide(200);

                    
                    break;
                case 'pending':
                    $("#allRequestsSection").hide(200);
                    $("#pendingRequestsSection").show(200);
                    $("#acceptedRequestsSection").hide(200);
                    $("#userRequestsSection").hide(200);
                    $("#isgTeamRequestsSection").hide(200);

                    break;
                case 'accepted':
                    $("#allRequestsSection").hide(200);
                    $("#pendingRequestsSection").hide(200);
                    $("#acceptedRequestsSection").show(200);
                    $("#userRequestsSection").hide(200);
                    $("#isgTeamRequestsSection").hide(200);

                    break;
                case 'user':
                    $("#allRequestsSection").hide(200);
                    $("#pendingRequestsSection").hide(200);
                    $("#acceptedRequestsSection").hide(200);
                    $("#userRequestsSection").show(200);
                    $("#isgTeamRequestsSection").hide(200);

                    break;
                case 'isg':
                    $("#allRequestsSection").hide(200);
                    $("#pendingRequestsSection").hide(200);
                    $("#acceptedRequestsSection").hide(200);
                    $("#userRequestsSection").hide(200);
                    $("#isgTeamRequestsSection").show(200);
                    break;
            }
        }
        
    </script>
    }