@model TSAHandset.ViewModel.RequestFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submit a New Request</h2>

<div class="jumbotron">
   @using (Html.BeginForm("Submit", "Request"))
   {

    <div class="form-horizontal">


        <div class="form-group">
            <label class="col-md-2 control-label">Request type</label>

            <div class="col-md-10">

                @for (var i = 0; i < Model.RequestTypes.Count; i++)
                {
                    <div class="radio">
                        <label>
                            @if (Model.RequestTypes[i].Id == 1)
                            {
                                @Html.RadioButtonFor(m => m.Request.RequestTypeId, Model.RequestTypes[i].Id, (Model.RequestTypes[i].Id == 1) ? new { @checked = "true", onchange = "changeRequestType(this)" } : null) @Model.RequestTypes[i].RequestTypeName

                            }
                            else
                            {
                                @Html.RadioButtonFor(m => m.Request.RequestTypeId, Model.RequestTypes[i].Id, (Model.RequestTypes[i].Id == 1) ? null: new { onchange = "changeRequestType(this)" }) @Model.RequestTypes[i].RequestTypeName

                            }


                        </label>
                    </div>

                }
            </div>
        </div>

        <div class="form-group" id="handsetsSection" style="display:none;">
            <label class="col-md-2 control-label">Handset</label>

            <div class="col-md-10 text-center">

                @foreach (var handset in Model.Handsets)
                {
                    <div class="col-md-6 radio">
                        <label style="text-align:left;">
                            @Html.RadioButtonFor(m => m.Request.HandsetId, handset.Id, (handset.Id==1)? new { @checked="true" }:null)

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-sm-5">
                                        <img class="img-responsive" src="@handset.ImageUrl"/>
                                    </div>
                                    <div class="col-sm-7">
                                        <h3>@handset.Make</h3>
                                        <h4>@handset.Model</h4>
                                        <a onclick="initHandsetInfoDialog(this)" data-toggle="modal" data-target="#handset-info-dialog" href="#" class="btn btn-xs btn-danger"
                                           data-image-url="@handset.ImageUrl"
                                           data-make="@handset.Make"
                                           data-model="@handset.Model"
                                           data-Os="@handset.OS"
                                           data-screen-size="@handset.ScreenSizeInIn"
                                           data-processor="@handset.Processor"
                                           data-width="@handset.WidthInMM"
                                           data-height="@handset.HeightInMM"
                                           data-thickness="@handset.ThicknessInMM"
                                           data-memory="@handset.MemoryInGB"
                                           data-storage="@handset.StorageInGB"
                                           data-camera="@handset.CameraInMP"
                                           
                                           
                                           ><i class="material-icons" >tune</i> View Specs</a>
                                    </div>
                                </div>
                            </div>

                        </label>
                    </div>

                }








            </div>
        </div>

        <div class="form-group" id="plansSection">
            <label class="col-md-2 control-label">Plan</label>

            <div class="col-md-10 text-center">

                @foreach (var plan in Model.Plans)
                {


                    <div class="col-md-6 radio">
                        <label style="text-align:left;">
                            @Html.RadioButtonFor(m => m.Request.PlanId, plan.Id, (plan.Id==1)?new { @checked="true" }:null)
                            <div class="panel panel-default">
                                <div class="panel-heading">@plan.Name Plan</div>
                                <div class="panel-body text-center">
                                    <h4>$ @plan.MonthlyCharge / mo </h4>

                                    @if (plan.MonthlyDataAllowanceInGB == -1)
                                    {
                                        <h4>Unlimited Data</h4>;
                                    }
                                    else
                                    {
                                        <h4>@plan.MonthlyDataAllowanceInGB GB/ mo</h4>
                                    }

                                    @if (plan.MonthlyMinuteAllowance == -1)
                                    {
                                        <h4>Unlimited Minutes</h4>;
                                    }
                                    else
                                    {
                                        <h4>@plan.MonthlyMinuteAllowance Minutes/ mo</h4>
                                    }

                                    @if (plan.MonthlyTextAllowance == -1)
                                    {
                                        <h4>Unlimited Texts</h4>;
                                    }
                                    else
                                    {
                                        <h4>@plan.MonthlyTextAllowance Texts/ mo</h4>
                                    }

                                    @if (plan.AccountCalling == 0)
                                    {
                                        <h4>Free on Account Calling</h4>;
                                    }
                                    else
                                    {
                                        <h4>$ @plan.AccountCalling on account calling</h4>
                                    }

                                    <h4></h4>
                                </div>
                            </div>

                        </label>
                    </div>

                }


            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">

                <button type="submit" class="btn btn-raised btn-danger"><i class="material-icons">description</i> Submit</button>
            </div>
        </div>





    </div>
   }
</div>


<!-- Handset Informations-->
<div id="handset-info-dialog" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="handsetDialogTitle"></h4>
            </div>
            <div class="modal-body">
                <p>
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <img class="img-responsive" id="handsetImage" src=""/>

                        </div>
                        <div class="col-xs-8" style="">
                            <div style="">
                            
                            
                            <table>
                                <tr>
                                    <td>Make</td>
                                    <td> : </td>
                                    <td id="handsetMake"></td>
                                </tr>
                                <tr>
                                    <td>Model</td>
                                    <td> : </td>
                                    <td id="handsetModel"></td>
                                </tr>
                                <tr>
                                    <td>Dimensions </td>
                                    <td> : </td>
                                    <td id="handsetDimensions"></td>
                                </tr>
                                <tr>
                                    <td>Screen</td>
                                    <td> : </td>
                                    <td id="handsetScreen"></td>
                                </tr>
                                <tr>
                                    <td>Memory</td>
                                    <td> : </td>
                                    <td id="handsetMemory"></td>
                                </tr>
                                <tr>
                                    <td>Storage</td>
                                    <td> : </td>
                                    <td id="handsetStorage"></td>
                                </tr>
                                <tr>
                                    <td>Camera</td>
                                    <td> : </td>
                                    <td id="handsetCamera"></td>
                                </tr>
                                <tr>
                                    <td>Processor</td>
                                    <td> : </td>
                                    <td id="handsetProcessor"></td>
                                </tr>
                                <tr>
                                    <td>OS</td>
                                    <td> : </td>
                                    <td id="handsetOs"></td>
                                </tr>
                            </table>
                            
                            </div>

                        </div>
                    </div>
                </p>



            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{ 
    <script>

        function initHandsetInfoDialog(el) {
            $("#handsetImage").attr("src", $(el).data("image-url"));


            $("#handsetMake").html($(el).data("make"));
            $("#handsetModel").html($(el).data("model"));
            $("#handsetDimensions").html($(el).data("width") + "mm x " + $(el).data("height") + "mm x " + $(el).data("thickness") + " mm");
            $("#handsetScreen").html($(el).data("screen-size") + "\"");
            $("#handsetOs").html($(el).data("os"));
            $("#handsetProcessor").html($(el).data("processor"));
            $("#handsetDialogTitle").html($(el).data("make") + " " + $(el).data("model"));
            $("#handsetMemory").html($(el).data("memory") + " GB");
            $("#handsetStorage").html($(el).data("storage") + " GB");
            $("#handsetCamera").html($(el).data("camera") + " MP");



        }


        function changeRequestType(el) {
            
            switch ($(el)[0].value) {
                case "1":
                    $('#plansSection').show();
                    $('#handsetsSection').hide();
                    break;
                case "2":
                    $('#plansSection').hide();
                    $('#handsetsSection').show();
                    break;
                case "3":
                    $('#plansSection').show();
                    $('#handsetsSection').show();
                    break;
            }
            

        }
    </script>
}